* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1e1f1f;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #1e1f1f;
  line-height: 1.5em;
}

body p {
  max-width: 650px;
}

nav {
  margin: 0 auto;
  padding: 0 40px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-1 {
  width: calc(33% - 20px);
  margin-right: 20px;
}

.col-2 {
  width: 66%;
}

/* Sections  */

.wrapper {
  margin-bottom: 20px;
}

.b-r {
  border-radius: 32px;
}

.content-section {
  background-color: #fff;
  padding: 40px;
  flex-grow: 1;
  margin-bottom: 20px;
}

.project-section {
  position: relative;
  overflow: hidden;
}

.project-cover {
  display: block;
  position: absolute;
  max-width: 250px;
  right: 20px;
  bottom: 20px;
  z-index: 0;
}

.star {
  display: block;
  right: 80px;
  bottom: 100px;
  width: 240px;
  height: 240px;
  animation: animName 36s linear infinite;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Profile Section */

.profile-section {
  display: flex;
  background-color: #1e1f1f;
  border: 2px solid #fff;
  padding: 60px 40px;
  margin-bottom: 20px;
}

.cv-photo {
  max-width: 387px;
}

.profile-content:last-child {
  padding-left: 40px;
}

.profile-content p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8em;
  font-size: 24px;
  margin-bottom: 16px;
  max-width: 800px;
}

section p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.section-col-2 {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 78px;
  color: #fff;
  margin-bottom: 48px;
  line-height: 1.2em;
}

h1 span {
  color: #f5bebe;
}

/* Navigation */

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.nav-list,
.contact-list {
  list-style: none;
}

.nav-link:link,
.nav-link:active,
.nav-link:visited {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  font-size: 24px;
  color: #ffffffcc;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline 6px solid #f5bebe;
  text-underline-offset: 0.7rem;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}

/* Profile Section */

/* Sections */

h2 {
  background-color: #f9d7d7;
  border-radius: 24px;
  font-size: 20px;
  padding: 8px 20px;
  width: fit-content;
  margin-bottom: 28px;
}

h3.project-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

ul {
  padding-left: 20px;
}

ul.contact-list {
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

ul li:last-child {
  margin-bottom: 0;
}

ul.course-list {
  margin-top: 24px;
}

ul.lang-list li,
ul.course-list li {
  padding-bottom: 16px;
}

/* All Links */

a:link,
a:active {
  text-decoration: none;
  color: #1d51d4;
  /* transition: 0.5s; */
}

a:hover,
a:visited {
  text-decoration: underline;
  color: #1d51d4;
  text-underline-offset: 0.2rem;
  transition: 0.5s;
}

/* Code Section */

pre {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 16px;
}

/* Button */

button {
  border-radius: 12px;
  border: #1e1f1f 2px solid;
  background-color: #fff;
  font-size: 24px;
  font-weight: 700;
  background-color: #fff;
  color: #1e1f1f;
  cursor: pointer;
  margin-top: 36px;
}

button:hover {
  background-color: #1e1f1f;
  color: #fff;
}

button a:link,
button a:visited {
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  color: #1e1f1f;
}

button a:hover {
  color: #fff;
}

footer a:link,
footer a:active {
  color: #f5bebe;
}

footer a:hover,
footer a:visited {
  color: #f5bebe;
}

/* Footer */

footer {
  /* background-color: #82817e; */
  padding: 20px 0 40px;
  color: rgba(255, 255, 255, 0.8);
}
